@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
    font-family: 'Mulish';
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

.loader-text {
    text-transform:uppercase;
    font-size: .7em;
    letter-spacing: 1px;
    font-weight: bold;
}

.loader-container, .loader-bubble {
    margin: 0 auto 0 auto;
    text-align: center;
}

.loader-bubble.active {
    width: 15px;
    height: 15px;
    transition: width .01s, height .01s;
}

.loader-bubble {
    width: 8px;
    height: 8px;
    background-color: #444;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 2px 2px 2px #ddd;
}

.loader-container {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.lb-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: resize 0.8s ease-in-out 0s infinite;
}

.lb-top-right {
    top: 15%;
    right: 15%;
    transform: translateX(50%) translateY(-50%);
    animation: resize 0.8s ease-in-out 0.1s infinite;
}

.lb-right {
    right: 0;
    transform: translateX(50%);
    animation: resize 0.8s ease-in-out 0.2s infinite;
}

.lb-bottom-right {
    bottom: 15%;
    right: 15%;
    transform: translateX(50%) translateY(50%);
    animation: resize 0.8s ease-in-out 0.3s infinite;
}

.lb-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    animation: resize 0.8s ease-in-out 0.4s infinite;
}

.lb-bottom-left {
    bottom: 15%;
    left: 15%;
    transform: translateX(-50%) translateY(50%);
    animation: resize 0.8s ease-in-out 0.5s infinite;
}

.lb-left {
    transform: translateX(-50%);
    animation: resize 0.8s ease-in-out 0.6s infinite;
}

.lb-top-left {
    top: 15%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
    animation: resize 0.8s ease-in-out 0.7s infinite;
}

@keyframes resize {
    40% {
        width: 15px;
        height: 15px;
        box-shadow: inset 2px 2px 4px  #ddd;
    }
    80% {
        width: 8px;
        height: 8px;
        box-shadow: inset 1px 2px 2px #ddd;

    }
}